html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif
}

body {
    background-color: #00d3f3;
    margin: 0
}

.page-wrapper {
    min-height: 100vh
}

.overflow-hidden {
    overflow: hidden
}

.overflow-hidden.position-relative {
    margin-bottom: 0
}

.container-default {
    max-width: 1270px;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 24px;
    padding-right: 24px;
    overflow: visible
}

.w-container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto
}

.dropdown-header-wrapper---bg-copy {
    background-color: var(--neutral--800);
    display: none;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%
}

.header-wrapper {
    background-color: transparent;
    background-image: linear-gradient(to bottom,var(--neutral--800),var(--neutral--800));
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    position: fixed;
    top: 0%;
    bottom: auto;
    left: 0%;
    right: 0%;
    border: 1px solid #0082f3;
}


.header-content-wrapper {
    justify-content: space-between;
    align-items: center;
    display: flex;
    position: static;
    border: 1px solid #00f38a;
}

.header-middle {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    position: static;
    border: 1px solid #f300c2;
}

.header-nav-menu-wrapper {
    background-color: var(--neutral--800);
    position: static;
}

.w-nav-menu {
    float: right;
    position: relative;
}

.header-nav-menu-list {
    z-index: 1;
    align-items: center;
    margin-bottom: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
    position: static;
    border: 1px solid #f30000;
}

.header-nav-list-item {
    margin-bottom: 0;
    padding-left: 32px;
    line-height: 1.125em;
    border: 1px solid #4900f3;
}

.header-nav-list-item.middle {
    padding-left: 16px;
    padding-right: 16px;
    border: 1px solid #f3aa00;
}

.dropdown-new {
    padding-top: 0;
    padding-bottom: 0
}

.dropdown-new:hover {
    padding-right: 40px
}

.w-dropdown-link {
    color: #222;
    padding: 10px 20px;
    display: block
}

.w-dropdown-btn,.w-dropdown-toggle,.w-dropdown-link {
    vertical-align: top;
    color: #222;
    text-align: left;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    text-decoration: none;
    position: relative
}

.w-dropdown-link.w--current {
    color: #0082f3
}

.w-dropdown-link:focus {
    outline: 0
}

.dropdown-link {
    color: #fff
}

.dropdown-link:hover {
    color: var(--secondary--color-1)
}

.w-dropdown-toggle {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    padding-right: 40px;
    display: inline-block
}

.w-dropdown-toggle:focus {
    outline: 0
}

.header-nav-link {
    color: var(--neutral--100);
    padding: 0;
    font-weight: 500;
    line-height: 1.125em
}

.header-nav-link:hover {
    color: var(--secondary--color-1)
}

.header-nav-link.dropdown-nav-link {
    align-items: center;
    transition: color .3s;
    display: flex
}

.header-nav-link.cart-nav-link {
    background-color: transparent
}

.line-rounded-icon {
    font-family: Line Rounded Icons,sans-serif
}

.line-rounded-icon.style---dropdown-arrow-sidebar {
    line-height: 18px
}

.line-rounded-icon.link-icon-right {
    margin-left: 6px;
    display: inline-block
}

.line-rounded-icon.link-icon-left {
    margin-right: 6px;
    display: inline-block
}

.line-rounded-icon.dropdown-arrow {
    color: #fff;
    margin-left: 8px
}

.line-rounded-icon.success-message-check {
    color: var(--secondary--color-1);
    margin-right: 8px;
    font-size: 24px
}

.line-rounded-icon.success-message-check.large {
    margin-bottom: 16px;
    margin-right: 0;
    font-size: 80px;
    line-height: 88px
}

.line-rounded-icon.success-message-check.color-neutral-100 {
    color: var(--neutral--100)
}

.dropdown-arrow {
    min-width: 300px;
    text-align: left;
    margin-left: -75px;
    padding-left: 0;
    position: relative
}

.dropdown-arrow-content {
    color: var(--neutral--300);
    justify-content: flex-start;
    align-items: center;
    margin-top: 24px;
    margin-left: 0;
    display: flex
}

.w-icon-arrow-down:before,.w-icon-dropdown-toggle:before {
    content: "î˜ƒ"
}

.w-icon-dropdown-toggle {
    width: 1em;
    height: 1em;
    margin: auto 20px auto auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0
}

.dropdown-column-wrapper {
    border: 0px solid var(--neutral--300);
    background-color: var(--neutral--800);
    box-shadow: 4px 8px 5px 8px var(--general--shadow-02);
    border-radius: 16px;
    padding: 40px;
    overflow: hidden;
    transform: translate(-50%)
}

.dropdown-column-wrapper.w--open {
    background-color: var(--neutral--700);
    outline-color: var(--neutral--700);
    outline-offset: 0px;
    border-radius: 16px;
    outline-width: 1px;
    outline-style: none;
    margin-top: 15px;
    margin-left: -39px
}

.dropdown-column-wrapper.full-width {
    width: auto;
    max-width: none;
    min-width: 0%;
    box-shadow: none;
    background-color: transparent;
    border-style: none;
    border-radius: 0;
    top: 70px;
    left: 0;
    right: 0;
    overflow: visible;
    transform: none
}

.dropdown-column-wrapper.full-width.w--open {
    width: auto;
    max-width: none;
    min-width: 0%;
    flex: 0 auto;
    align-self: flex-start;
    padding-left: 0;
    display: block;
    position: absolute;
    top: 55px;
    bottom: 0%;
    left: auto;
    right: auto
}

.w-dropdown-list {
    min-width: 100%;
    background: #ddd;
    display: none;
    position: absolute
}

.w-dropdown-list.w--open {
    display: block
}

.header-right-side {
    justify-content: flex-end;
    align-items: center;
    display: flex
}

.hamburger-menu-btn {
    padding: 0
}

.hamburger-menu-btn.w--open {
    background-color: transparent
}

.w-nav-button {
    float: right;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 18px;
    font-size: 24px;
    display: none;
    position: relative
}

.w-nav-button:focus {
    outline: 0
}

.w-nav-button.w--open {
    color: #fff;
    background-color: #c8c8c8
}

.w-nav[data-collapse=all] .w-nav-menu {
    display: none
}

.w-nav[data-collapse=all] .w-nav-button,.w--nav-dropdown-open,.w--nav-dropdown-toggle-open {
    display: block
}