<!DOCTYPE html>
<html lang="en">

<head>
    <meta chareset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edg" />
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/stylesheet/test_raw.css" />
    <title>People Counting</title>
</head>

<body class="body">
    <div class="page-wrapper">
        <div class="overflow-hidden position-relative">
            <header>
                <div class="navbar">
                    <div class="logo"><a href="#">Sixth Innovation</a></div>
                    <ul class="links">
                        <li><a href="Products">Products</a></li>
                        <!-- <div class="dropdown_menu">
                            <li><a href="People-Counting">People Counting</a></li>
                            <li><a href="Concealgun-Detection">Concealgun Detection</a></li>
                        </div> -->
                        <li><a href="Deployment">Deployment</a></li>
                        <li><a href="Documentation">Documentation</a></li>
                    </ul>
                    <a href="#" class="action_btn">Contact us</a>
                    <div class="toggle_btn">
                        <i class="fa-solid fa-bars"></i>
                    </div>
                </div>

                <div class="dropdown_menu">
                    <li><a href="Products">Products</a></li>
                    <li><a href="Deployment">Deployment</a></li>
                    <li><a href="Documentation">Documentation</a></li>
                    <li><a href="#" class="action_btn">Contact us</a></li>
                </div>
            </header>
            <section class="section hero v7">
                <div class="container-default w-container">
                    <div class="inner-container _763px center">
                        <div class="inner-container _600px---mbl center">
                            <div class="text-center">
                                <h1 style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                                    class="display-1 mg-bottom-4px">
                                    People<span class="gradient-color-01 text-no-wrap">&nbsp;Counting</span>.</h1>
                                <!-- <h1 style="-webkit-transform:translate3d(0, 0%, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 84%, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 84%, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 84%, 0) scale3d(0.5, 0.5, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity: 1;color: #fff;" class="display-1 mg-bottom-4px">
                                        Counting<span class="gradient-color-01 text-no-wrap">People</span>
                                        .
                                    </h1> -->
                            </div>
                        </div>
                        <div class="inner-container _716px center">
                            <p style="transform: translate3d(0px, 15px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                                class="mg-bottom-32px keep">
                                People Counting with deep learning algorithms is an effective method to detect and track
                                individual people in real-time video from surveillance cameras. This technology uses
                                computer vision to accurately and consistently count people across various locations and
                                can provide valuable insights for businesses and smart cities. It can be used to
                                estimate the number of people in retail stores in real-time, discover peak hours,
                                bottlenecks, and compare key metrics across different locations.
                            </p>
                        </div>
                        <!-- <div class="inner-container _716px center">
                                <p style="-webkit-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 30px, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity: 1;color: #fff;" class="mg-bottom-32px keep">People Counting with deep learning algorithms is an effective method to detect and track individual people in real-time video from surveillance cameras. This technology uses computer vision to accurately and consistently count people across various locations and can provide valuable insights for businesses and smart cities. It can be used to estimate the number of people in retail stores in real-time, discover peak hours, bottlenecks, and compare key metrics across different locations.</p>
                            </div> -->
                    </div>
                </div>
            </section>
            <section id="reports" class="section pd-180px pd-bottom-0px">
                <div class="container-default w-container">
                    <div class="w-layout-grid grid-2-columns template-page-sidebar">
                        <div style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                            class="card sticky-top top-24px static-mbl">
                            <div class="pd---content-inside-card template-pages---sidebar">
                                <ul role="list" class="template-pages---sidebar-navigation">
                                    <li class="template-pages---nav-item-wrapper"><a href="#aiotdevice"
                                            class="template-pages---nav-item-link">AIoT Device</a></li>
                                    <li class="template-pages---nav-item-wrapper"><a href="#detecting-people"
                                            class="template-pages---nav-item-link">Detecting People</a></li>
                                    <li class="template-pages---nav-item-wrapper"><a href="#track-id"
                                            class="template-pages---nav-item-link">Track ID</a></li>
                                    <li class="template-pages---nav-item-wrapper"><a href="#walking-in-and-out"
                                            class="template-pages---nav-item-link">Walking In And Out</a></li>
                                    <li class="template-pages---nav-item-wrapper"><a href="#sitting-in-chair"
                                            class="template-pages---nav-item-link">Sitting In Chair</a></li>
                                    <li class="template-pages---nav-item-wrapper"><a href="#crossing-the-zebra-crossing"
                                            class="template-pages---nav-item-link">Crossing The Zebra Crossing</a></li>
                                </ul>         
                            </div>
                        </div>
                        <div data-w-id="e1be5ed6-3796-beb9-1ede-7b982e82285a"
                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); opacity: 1; transform-style: preserve-3d;"
                            class="card">
                            <div class="pd---content-inside-card large template-pages">
                                <div id="aiotdevice" class="div-content">
                                    <h2>AIoTdevice.</h2>
                                    <div id="w-node-_3962fd2f-7165-43a6-3b22-424f865ea422-8f47eb18"
                                        style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;"
                                        class="inner-container _598px center">
                                        <div class="w-layout-grid grid-2-columns title-and-paragraph">
                                            <div class="image-wrapper style-01 _w300px center"><img src="../static/jetson_test2.png"
                                                    loading="eager"
                                                    sizes="(max-width: 479px) 91vw, (max-width: 767px) 65vw, (max-width: 991px) 67vw, (max-width: 1919px) 41vw, 596px"
                                                    srcset="../static/jetson_test2.png 1600w" alt=""
                                                    class="image cover border-radius-16px"></div>
                                            <div class="image-wrapper style-01 _w300px center"><img src="../static/jetson_test1.png"
                                                    loading="eager"
                                                    sizes="(max-width: 479px) 80vw, (max-width: 767px) 65vw, (max-width: 991px) 67vw, (max-width: 1919px) 41vw, 596px"
                                                    srcset="../static/jetson_test1.png 1300w" alt=""
                                                    class="image cover border-radius-16px"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider _40px" style="opacity: 1;"></div>
                                <div id="detecting-people" class="div-content">
                                    <h2>Detecting people.</h2>
                                    <div class="slider-mask width-83 center w-slider-mask" id="w-slider-mask-1">
                                        <div class="w-slide" aria-label="1 of 6" role="group"
                                            style="transform: translateX(0px); opacity: 1; z-index: 0;">
                                            <div style="padding-top:56.17021276595745%"
                                                class="w-embed-youtubevideo card"><iframe
                                                    src="../static/video_bear_walkpass5s.mp4" frameborder="0"
                                                    style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto"
                                                    allow="autoplay; encrypted-media" allowfullscreen=""
                                                    title="CVEDIA-RT 2022.4.0 showcase of people, vehicle and animal detection in infrared using deep learning"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider" style="opacity: 1;"></div>
                                <div id="track-id" class="div-content">
                                    <h2>Track ID.</h2>
                                    <div class="slider-mask width-83 center w-slider-mask" id="w-slider-mask-1">
                                        <div class="w-slide" aria-label="2 of 6" role="group"
                                            style="transform: translateX(0px); opacity: 1; z-index: 0;">
                                            <div style="padding-top:56.17021276595745%"
                                                class="w-embed-youtubevideo card"><iframe
                                                    src="../static/video_bear_walkpass_box_track15s.mp4" frameborder="0"
                                                    style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto"
                                                    allow="autoplay; encrypted-media" allowfullscreen=""
                                                    title="CVEDIA-RT 2022.4.0 showcase of people, vehicle and animal detection in infrared using deep learning"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider" style="opacity: 1;"></div>
                                <div id="walking-in-and-out" class="div-content">
                                    <h2>Count people walking in and out.</h2>
                                    <div class="slider-mask width-83 center w-slider-mask" id="w-slider-mask-1">
                                        <div class="w-slide" aria-label="4 of 6" role="group"
                                            style="transform: translateX(0px); opacity: 1; z-index: 0;">
                                            <div style="padding-top:56.17021276595745%"
                                                class="w-embed-youtubevideo card"><iframe
                                                    src="../static/video_bear_in_new_box15s.mp4" frameborder="0"
                                                    style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto"
                                                    allow="autoplay; encrypted-media" allowfullscreen=""
                                                    title="CVEDIA-RT 2022.4.0 showcase of people, vehicle and animal detection in infrared using deep learning"></iframe>
                                            </div>
                                        </div>
                                        <div class="w-slide" aria-label="4 of 6" role="group"
                                            style="transform: translateX(0px); opacity: 1; z-index: 0;">
                                            <div style="padding-top:56.17021276595745%"
                                                class="w-embed-youtubevideo card"><iframe
                                                    src="../static/video_bear_out_new_box15s.mp4" frameborder="0"
                                                    style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto"
                                                    allow="autoplay; encrypted-media" allowfullscreen=""
                                                    title="CVEDIA-RT 2022.4.0 showcase of people, vehicle and animal detection in infrared using deep learning"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider" style="opacity: 1;"></div>
                                <div id="sitting-in-chair" class="div-content">
                                    <h2>Count people sitting in chair.</h2>
                                    <div class="slider-mask width-83 center w-slider-mask" id="w-slider-mask-1">
                                        <div class="w-slide" aria-label="5 of 6" role="group"
                                            style="transform: translateX(0px); opacity: 1; z-index: 0;">
                                            <div style="padding-top:56.17021276595745%"
                                                class="w-embed-youtubevideo card"><iframe
                                                    src="../static/video_bear_sitting_zone_new_box15s.mp4"
                                                    frameborder="0"
                                                    style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto"
                                                    allow="autoplay; encrypted-media" allowfullscreen=""
                                                    title="CVEDIA-RT 2022.4.0 showcase of people, vehicle and animal detection in infrared using deep learning"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="divider" style="opacity: 1;"></div>
                                <div id="crossing-the-zebra-crossing" class="div-content">
                                    <h2>Count people crossing the zebra crossing.</h2>
                                    <div class="slider-mask width-83 center w-slider-mask" id="w-slider-mask-1">
                                        <div class="w-slide" aria-label="5 of 6" role="group"
                                            style="transform: translateX(0px); opacity: 1; z-index: 0;">
                                            <div style="padding-top:56.17021276595745%"
                                                class="w-embed-youtubevideo card"><iframe
                                                    src="../static/video_zebra_crossing_box15s.mp4" frameborder="0"
                                                    style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto"
                                                    allow="autoplay; encrypted-media" allowfullscreen=""
                                                    title="CVEDIA-RT 2022.4.0 showcase of people, vehicle and animal detection in infrared using deep learning"></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section id="integrations" class="section pd-top-180px"></section>
                    <section class="section pd-0px">
                        <div class="container-default w-container">
                            <div data-w-id="8f79f1b2-abea-00ee-ccc1-335e936a5436" class="card cta-v2"
                                style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                                <div class="card-cta-v2---main-content">
                                    <div class="inner-container cta-v2-content">
                                        <div class="inner-container _350px---mbp">
                                            <h2 class="mg-bottom-24px-copy"
                                                style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                                                Start using CCTV-CP</h2>
                                        </div>
                                        <div data-w-id="8f79f1b2-abea-00ee-ccc1-335e936a543e" class="buttons-row"
                                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                                            <a href="#" class="btn-primary white w-button">Get started</a>
                                        </div>
                                    </div>
                                    <div data-w-id="8f79f1b2-abea-00ee-ccc1-335e936a5441"
                                        class="inner-container cta-v2-image"
                                        style="will-change: transform; transform: translate3d(0px, 0.38088%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        <div data-w-id="8f79f1b2-abea-00ee-ccc1-335e936a5442"
                                            class="image-wrapper style-02"
                                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                                            <img src="../static/Index_webpage.PNG" loading="eager"
                                            sizes="(max-width: 991px) 100vw, (max-width: 1439px) 74vw, 954.15625px"
                                            srcset="../static/Index_webpage.PNG 1530w" alt="CVEDIA | CVEDIA-RT"
                                            class="image cover border-radius-16px">    
                                        </div>
                                    </div>
                                    <div data-w-id="8f79f1b2-abea-00ee-ccc1-335e936a5441"
                                        class="inner-container cta-v2-image-2"
                                        style="will-change: transform; transform: translate3d(0px, 0.38088%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                                        <div data-w-id="8f79f1b2-abea-00ee-ccc1-335e936a5442"
                                            class="image-wrapper style-02"
                                            style="transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d; opacity: 1;">
                                            <img src="../static/label_box.png" loading="eager"
                                                sizes="(max-width: 991px) 100vw, (max-width: 1439px) 74vw, 954.15625px"
                                                srcset="../static/label_box.png 1530w" alt="CVEDIA | CVEDIA-RT"
                                                class="image cover border-radius-16px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
            </section>
            <footer class="footer-wrapper">
                <div class="container-default w-container">
                    <div class="footer-top"> 
                        <div data-w-id="5937b0ce-eabe-ecc9-5101-b22d4ef4b9a9"
                            class="w-layout-grid grid-footer---default" style="opacity: 1;">
                            <div class="menu-wrapper---main">
                                <div class="menu-wrapper">
                                    <div class="mg-bottom-64px">
                                        <div class="text-100 medium color-neutral-400">Products</div>
                                    </div>
                                    <div class="nav-content">
                                        <ul role="list" class="nav-menu-list-wrapper">
                                            <li class="nav-menu-list-item"><a href="#" class="nav-link">xxxx</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="menu-wrapper hidden-on-tablet">
                                    <div class="mg-bottom-64px">
                                        <div class="text-100 medium color-neutral-400">Deployment options</div>
                                    </div>
                                    <div class="nav-content">
                                        <ul role="list" class="nav-menu-list-wrapper">
                                            <li class="nav-menu-list-item"><a href="#" class="nav-link">xxxx</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="menu-wrapper">
                                    <div class="mg-bottom-64px">
                                        <div class="text-100 medium color-neutral-400">CVEDIA</div>
                                    </div>
                                    <div class="nav-content">
                                        <ul role="list" class="nav-menu-list-wrapper">
                                            <li class="nav-menu-list-item"><a href="#" class="nav-link">xxxx</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div id="w-node-_5937b0ce-eabe-ecc9-5101-b22d4ef4ba27-4ef4b9a6"
                                class="inner-container _377px _100---tablet">
                                <div class="inner-container _400px---tablet">
                                    <div class="mg-bottom-64px mg-bottom-20px---tablet">
                                        <div class="text-100 medium color-neutral-400">Subscribe to our newsletter</div>
                                    </div>
                                    <p class="paragraph-small mg-bottom-16px keep">Join our newsletter and receive
                                        occasional updates.<br>No spam, guaranteed<span class="text-no-wrap">.</span>
                                    </p>
                                </div>
                                <div>
                                    <div class="w-embed w-script">
                                        <div id="mc_embed_signup">
                                            <form
                                                action="https://cvedia.us16.list-manage.com/subscribe/post?u=35b854a72569489653fd5af12&amp;id=e8fc1b8fb0&amp;f_id=007379e0f0"
                                                method="post" id="mc-embedded-subscribe-form"
                                                name="mc-embedded-subscribe-form" class="validate" target="_self">
                                                <div id="mc_embed_signup_scroll">
                                                    <div class="mc-field-group">
                                                        <input type="email" value="Enter your email" name="EMAIL"
                                                            class="required email" id="mce-EMAIL" required=""
                                                            style="width: 100%; border-radius: 100px; background-color: #181e29; border: 1px solid #353c4a; padding: 16px 24px; color: #fff; font-size: 14px;">
                                                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                                    </div>
                                                    <div id="mce-responses" class="clear">
                                                        <div class="response" id="mce-error-response"
                                                            style="display:none"></div>
                                                        <div class="response" id="mce-success-response"
                                                            style="display:none"></div>
                                                    </div>
                                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                                        <input type="text" name="b_35b854a72569489653fd5af12_e8fc1b8fb0"
                                                            tabindex="-1" value="">
                                                    </div>
                                                    <div class="clear"
                                                        style="display: flex; justify-content: space-between;">
                                                        <input type="submit" value="Subscribe" name="subscribe"
                                                            id="mc-embedded-subscribe" class="button btn_news"
                                                            style="width: 50%; background-color: #144ee3; border-radius: 40px; border: 1px solid #144ee3; color: #fff; padding: 12px 16px; font-size: 16px; line-height: 1.125em; font-weight: 500; text-align: center; text-decoration: none; margin-top: 16px; cursor: pointer; position: inherit !important;">
                                                    </div>
                                                </div>
                                            </form>
                                            <script>
                                                document.getElementById("mce-EMAIL").addEventListener("focus", function () {
                                                    if (this.value === "Enter your email") {
                                                        this.value = "";
                                                    }
                                                });
                                                document.getElementById("mce-EMAIL").addEventListener("blur", function () {
                                                    if (this.value === "") {
                                                        this.value = "Enter your email";
                                                    }
                                                });
                                            </script>
                                        </div>
                                        <style>
                                            .btn_news {
                                                -webkit-appearance: none;
                                                padding: 16px !important;
                                            }
                                        </style>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-w-id="5937b0ce-eabe-ecc9-5101-b22d4ef4ba4f"
                        class="footer-bottom text-right text-center---tablet" style="opacity: 1;">
                        <div class="w-layout-grid footer-bottom---grid">
                            <div id="w-node-_5937b0ce-eabe-ecc9-5101-b22d4ef4ba35-4ef4b9a6" class="mg-top-20px---mbp">
                                <div id="w-node-_5937b0ce-eabe-ecc9-5101-b22d4ef4ba36-4ef4b9a6"
                                    class="w-layout-grid social-icon-link---grid right left---mbp footer"><a
                                        id="w-node-_5937b0ce-eabe-ecc9-5101-b22d4ef4ba3d-4ef4b9a6"
                                        href="https://discord.com/invite/MQ9DMqaE4e" target="_blank"
                                        class="social-icon-link w-inline-block">
                                        <div class="social-icon-font"></div>
                                    </a><a href="https://www.linkedin.com/company/cvedia/" target="_blank"
                                        class="social-icon-link w-inline-block">
                                        <div class="social-icon-font"></div>
                                    </a><a href="https://www.youtube.com/@Cvedia" target="_blank"
                                        class="social-icon-link w-inline-block">
                                        <div class="social-icon-font"></div>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>        
    <script src="../static/scriptsheet/test_.js"></script>
</body>

</html>